<h1>Inbound messages</h1>

<div id="messages">
  <% @messages.each do |message| %>
  <div class="info">
    <%= message.id %>
    from <%= message.user.email %>
    to <%= message.receiver.email %>
    on <%= message.created_at.strftime('%b %d, %Y') %>
  </div>
    <div class="content"><%= message.body %></div>
    </br>
    </br>
  <% end %>
</div>
<div>
  <%= link_to 'Send Message', new_message_path %>
</div>
