<%= form_tag password_reset_path(@user), method: :put do%>
  <div class='field'>
    <%= label_tag :question %>
    <%= @user.question.text %>
  </div>

  <div class='field'>
    <%= label_tag :answer %>
    <%= text_field_tag :answer %>
  </div>

  <div class='field'>
    <%= label_tag :password, 'New Password' %>
    <%= password_field_tag :password %>
  </div>

  <div class='actions'><%= submit_tag 'Submit', class: 'btn btn-info' %>
<% end %>
